/*
Styles used globally
*/

body {
    position: relative;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
}

.sectionDivs {
    min-height: 110vh;
    padding: 7% !important;
}

.colInnerPaddingDiv {
    padding-right: 10%;
    padding-left: 10%;
}

.sectionHeader {
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;
}

 .navbar-nav li a {
    font-family: 'Assistant', sans-serif;
    color:dimgrey;
    font-size: 110%;
 }

/*
Styles used in the home section
*/

#home{
    background-color: #FF0031;
}

.home-bigHeader {
    font-family: 'Homemade Apple', cursive;
    font-size: 9vw;
    padding-top: 25vh;
}

/*
Styles used in the about section
*/

#about {
    background-color:white;
    min-height: 130vh;
}

.about-smallHeader {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    text-align: center;
    padding-bottom: 5px;
}

.about-normalText {
    font-family:'Catamaran', sans-serif;
    font-size: 110%;
    text-align: center;
}

@media screen and (max-width : 480px)
{
    .about-normalText {
        font-size: 10px;
    }

    .about-skillsTex {
        font-size: 10px;
    }

    .about-smallHeader {
        font-size: 15px;
    }
}

#about-disappearingDiv {
    position:fixed;
    top: 50;
    left:0;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    background-color: white;
    padding-bottom: 2vw;
    width: 100%;
}

.about-descriptionDiv {
    width: 70%;
    margin: auto;
}

#about-skillsDiv {
    opacity: 0;
    padding-bottom: 50px;
    transition: opacity 0.1s ease-in-out;
    position:relative;
    z-index: 1;
}

.about-skillsText {
    font-size: 4vw;
    font-family: 'Assistant', sans-serif;
    color:darkgrey;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.about-skillsText:hover {
    transform: scale(1.05);
    color:#FF0031;
    z-index: -1;
}

.about-row {
    overflow: hidden !important; 
}

.about-interestsCell {
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
    border-radius: 4px;
    padding: 10px;
}

[class*="about-interestsCell"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.about-interestsHeader {
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    color: darkgrey;
    text-align: center;
    font-size: 110%;
}

.about-interestsText {
    font-family:'Catamaran', sans-serif;
    text-align: justify;
    padding: 10px;
}

/*
Styles used in the project section
*/


#projects {
    background-color: ghostwhite;
    position: relative;
    z-index: 4;
}

.projects-cell {
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 25px;
    cursor: pointer;
    min-height: 20vw;
    margin-left: 0px;
    margin-right: 0px;
}

.projects-cell:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-image: linear-gradient(#FF3B3F, #FF3B3F, #E23076);
    opacity:0.8;
}

@media(max-width: 990px){
    .projects-cell{
      margin: 20px;
    }
} 

.projects-cellHeader {
    font-family: 'Assistant', sans-serif;
    text-align: center;
    font-weight: 300;
    color:white;
    font-size: 1.2vw;
}

.projects-cellText {
    font-family:'Catamaran', sans-serif;
    text-align: justify;
    font-size: 1.1vw;
    color: white;
}

.projects-cellTextSpan {
    display:none;
}

.projects-cell:hover .projects-cellTextSpan {
    display:block
}

@media(max-width: 990px){
    .projects-cellHeader{
        font-size: 15px;
        color:lightslategray;
    }

    .projects-cellText {
        font-size: 10px;
        color:black;
    }

    .projects-cell {
        min-height: 100px;
    }

    .projects-cellTextSpan {
        display: block;
    }

    .galleryItem {
        background: white !important;
    }

}

.projects-row {
    padding-bottom: 20px;
}

#project-menu {
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
}

#project-menu li  {
    padding-bottom: 20px;
    padding-right: 50px;
    font-family: 'Assistant', sans-serif;
    font-size: 120%;
    transition: .3s;
}

#project-menu li:hover  {
    color: #FF0031;
    transform: scale(1.05);
}

@media screen and (max-width: 990px) {
    .sidenav {
      height: auto;
      width: 100%;
      margin:auto;
      text-align: center;
      padding: 15px;
    }

    #project-menu li  {
        display: inline-block;
    }

    #project-menu li  {
        font-size: 15px;
    }
}

.galleryLlama {
    background: url("images/llama_white.png");
    background-size: cover;
}

.galleryPear {
    background: url("images/pear.png");
    background-size: cover;
}

.galleryJelly {
    background: url("images/jellyfish_white.png");
    background-size: cover;
}

.galleryAmazoon {
    background: url("images/amazoon.png");
    background-size: cover;
}

.galleryBmore {
    background: url("images/bmore.png");
    background-size: cover;
}

.galleryItem {
    background-color: lightgray;
    margin:0px;
    border-radius: 4px;
}